.wrapper

  = render 'shared/side_bar'

  .chat-main
    .main-header
      .main-header__box
        .main-header__box__name
          = @group.name
        .main-header__box__member
          Member：
          - @group.users.each do |user|
            .main-header__box__member__name
              = user.name
      .main-header__edit-btn
        = link_to edit_group_path(current_user), class: "edit_btn" do
          Edit
    .main-body
      = render partial: 'shared/message', collection: @messages

    .form.form-box
      = form_for [@group, @message], id: "new_message" do |f|
        .input-box
          = f.text_field :message, class: 'input-box__text', id: 'input-box__text', placeholder: 'type a message'
          .input-box__image-icon
            = f.label :image, class: "label" do
              %i.fa.fa-stack-1x.fa-picture-o
                = f.file_field :image, class: "input-box__image-icon__file"
          = f.submit 'Send', class: "send-btn"

