.wrapper

  = render 'shared/side_bar'

  .chat-main
    .main-header
      .main-header__box
        .main-header__box__name test-group
        .main-header__box__member Member : test-user
      .main-header__edit-btn
        = link_to edit_group_path(current_user), class: "edit_btn" do
          Edit
    .main-body
      .main-body__box
        .main-body__box__message
          .main-body__box__message__user-name test-user
          .main-body__box__message__comment test-comment
        .main-body__box__date 2019/02/13(wed) 17:50:42
    .form.form-box
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :message, class: 'input-box__text', placeholder: 'type a message'
          .input-box__image-icon
            = f.label :image, class: "label" do
              %i.fa.fa-stack-1x.fa-picture-o
                = f.file_field :image, class: "input-box__image-icon__file"
          = f.submit 'Send', class: "send-btn"

